<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- ===================================================================== -->
<!--                                                                       -->
<!--  Log4j Configuration                                                  -->
<!--                                                                       -->
<!-- ===================================================================== -->

<!-- $Id: log4j.xml,v 1.1.1.1 2009/01/13 04:30:39 fxie Exp $ -->

<!--
   | For more configuration infromation and examples see the Jakarta Log4j
   | owebsite: http://jakarta.apache.org/log4j
 -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <param name="Threshold" value="INFO"/>
        <layout class="org.apache.log4j.PatternLayout">
            <!-- The default pattern: Date Priority [Category] Message\n -->
            <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n"/>
        </layout>
    </appender>

    <appender name="IMBOT" class="org.apache.log4j.DailyRollingFileAppender">
        <!--<param name="File" value="${user.home}/log/edi/client.log"/>//-->
        <param name="File" value="../logs/wardrobe.log"/>
        <param name="Append" value="true"/>

        <!-- Rollover at midnight each day -->
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <param name="Threshold" value="INFO"/>

        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p [%c{1}] %m%n"/>
        </layout>
    </appender>

    <!--<logger name="com.zhuiin.server.ActionLogManager" additivity="false">-->
    <!--<level value="INFO"/>-->
    <!--<appender-ref ref="CONSOLE"/>-->
    <!--<appender-ref ref="ANDROID"/>-->
    <!--</logger>-->

    <root>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="IMBOT"/>
    </root>
</log4j:configuration>
